#board-area {
    width: 650px;
    height: 650px;
    border: 2px solid #cfcaca;
    position: relative;
    overflow: hidden;
    display:flex;
}

#createarea{
    display: grid;
    grid-template-columns: 10% 90%;
}

.tile {
    width: 50px;
    height: 50px;
    border: 1px hidden #999;
    position: absolute;
    cursor: move;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    transition: all 0.1s ease;
}

.white { background-color: #f0d9b5; }
.black { background-color: #b58863; }
.highlight {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 255, 0, 0.3);
    pointer-events: none;
}
#tile-controls, #storage-controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#tile-slider {
    width: 200px;
}

#tile-count {
    margin-top: 10px;
    font-weight: bold;
}

#reachedlimitmodel{
    padding-top:200px;
    margin:auto;
}

#add-white{
    background-color: #F0D9B5;
}
#add-black{
    background-color: #B58863;
}